fastapi
uvicorn
sqlalchemy
requests
urllib3
rdkit
pydantic
python-multipart
openpyxl
pandas
pdfplumber
numpy
aiohttp
xlsxwriter
reportlab
scikit-learn
PyInstaller

PyMuPDF

openai
azure-identity
python-dotenv
